.container {
	width: 60%;
	margin: 0 auto;
}

.form {
	width: 100%;
	font-family: Roboto;
	position: relative;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input {
	margin-bottom: 2%;
}

.form-signin-heading{
	font-size: 3em;
	text-align: center;
}