body{
  background-color: #efefef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hidden{
  display: none;
}

.main-nav{
  line-height: 54px;
  height: 54px;
}

#mobile-demo{
  width:210px;
}

.user-details{
  padding-top:7px;
  padding-bottom: 7px;
}

.not-selectable{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

nav{
  background-color: #74c183;
}

.last-item{
  margin-right: 15px;
}

.container{
  width: 90%;
}

.page-content {
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
  background-color: #74c183;
}

.small-margin{
  margin-left: 2% !important;
}