extends ./shared/_master
block append styles
  link(href='/css/home/style.css', rel='stylesheet')
block append footer
  script(src='/js/home/header-video.js')
block append page-content
  .homepage-hero-module
    .video-container
      .row.title-container.center
        .col.s12.m12
          h1.flow-text
            | Leisure
          h3.flow-text
            | spend your free time with our site
          h5.flow-text
            | only here and now
      .filter
      video.fillWidth(autoplay='', loop='')
        source(src='/media/home/CastAway.mp4', type='video/mp4')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
        source(src='/media/home/CastAway.webm', type='video/webm')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
      .poster.hidden
        img(src='/media/home/CastAway.jpg', alt='Background video image')
  .row.page-info.center.z-depth-3
    .col.s12.m12.center-align.content-container
      .row.center-align
        .col.s12.m12.col.moffset-2
          h2.title Let's talk product
          h5.description
            | Leisure is the perfect website for all the yong people seeking interesting opportunities, new friendships and much more. With Leisure you can search for articles on different topics, attend nearby events or just chat and share fun publications with your friends.
      .features
        .row.center-align
          .col.m4
            .info
              .icon.icon-primary
                i.material-icons chat
              h4.info-title Events
              p
                | Publish new events, mark their location and let others know.
          .col.m4
            .info
              .icon.icon-success
                i.material-icons verified_user
              h4.info-title Statuses
              p
                | Discover various ammount of articles on different modern topics
          .col.m4
            .info
              .icon.icon-danger
                i.material-icons fingerprint
              h4.info-title Chat and Statuses
              p
                | Stay in touch with your friends and get real-time notifications.
      .row.center-align
        .col.s12.m12
          a(href='/auth/register').waves-effect.waves-light.btn-large
            | Get started now