extends ./shared/_master
block append styles
    link(rel='stylesheet', href='/css/not-found-page/404-style.css')
block append page-content
    .center
        h1
            | 404
        p
            | The page you are looking for is missing
        h6
            | Error: #{errorMessage}