extends ./shared/_master
block append styles
  link(href='/css/user-profile/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='/css/user-profile/style-horizontal.css', type='text/css', rel='stylesheet', media='screen,projection')
block append footer
  script(src='/js/user-profile.js')
block append page-content
  #main
    // START WRAPPER
    .wrapper
      // START CONTENT
      section#content
        // start container
        .container
          #profile-page.section
            // profile-page-header
            #profile-page-header.card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='/images/user-profile-bg.jpg', alt='user background')
              figure.card-profile-image
                if pageUser.profilePictureUrl
                  img.circle.z-depth-2.responsive-img.activator(src=pageUser.profilePictureUrl)
                else
                  img.circle.z-depth-2.responsive-img.activator(src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png')
              .card-content
                .row
                  .col.s3.offset-s2
                    h4.card-title.grey-text.text-darken-4
                      | #{pageUser.firstName} #{pageUser.lastName}
                    p.medium-small.grey-text Project Manager
                  .col.s1.right-align.right
                    a.btn-floating.activator.waves-effect.waves-light.darken-2.right
                      i.material-icons 
                        | perm_identity
            // profile-page-content
            #profile-page-content.row
              // profile-page-sidebar
              #profile-page-sidebar.col.s12.m4.l4
                // Profile About
                .card.green.lighten-4
                  .card-content.white-text
                    span.card-title About Me!
                    p
                      | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                // Profile About
                // Profile About Details
                ul#profile-page-about-details.collection.z-depth-1
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.material-icons
                          | card_travel
                        |  Project
                      .col.s7.grey-text.text-darken-4.right-align ABC Name
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-social-poll
                        |  Skills
                      .col.s7.grey-text.text-darken-4.right-align HTML, CSS
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-social-domain
                        |  Lives in
                      .col.s7.grey-text.text-darken-4.right-align NY, USA
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-social-cake
                        |  Birth date
                      .col.s7.grey-text.text-darken-4.right-align 18th June, 1991
                // / Profile About Details
                // Profile About
                .card.green.darken-2
                  .card-content.white-text.center-align
                    p.card-title
                      i.mdi-social-group-add
                      |  3685
                    p Followers
                // Profile About
              #profile-page-wall.col.s12.m8
                // profile-page-wall-share
                if isOwner
                  #profile-page-wall-share.row
                  .col.s12
                    ul.tabs.tab-profile.z-depth-1.green.lighten-2
                      li.tab.col.s3
                        a.white-text.waves-effect.waves-light.active(href='#UpdateStatus')
                          i.mdi-editor-border-color
                          |  Update Status
                    // UpdateStatus
                    #UpdateStatus.tab-content.col.s12.grey.lighten-4
                      .row
                        .col.s2
                          if pageUser.profilePictureUrl
                            img.circle.responsive-img.valign.profile-image-post(src=pageUser.profilePictureUrl)
                          else
                            img.circle.responsive-img.valign.profile-image-post(src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png')
                        .input-field.col.s10
                          textarea#textarea.materialize-textarea(row='2')
                          label(for='textarea') What's on your mind?
                      .row
                        .col.s12.m6.share-icons
                          a(href='#')
                            i.mdi-image-camera-alt
                          a(href='#')
                            i.mdi-action-account-circle
                          a(href='#')
                            i.mdi-hardware-keyboard-alt
                          a(href='#')
                            i.mdi-communication-location-on
                        .col.s12.m6.right-align
                          // Dropdown Trigger
                          a.dropdown-button.btn(href='#', data-activates='profliePost')
                            i.mdi-action-language
                            |  Public
                          // Dropdown Structure
                          ul#profliePost.dropdown-content
                            li
                              a(href='#!')
                                i.mdi-action-language
                                |  Public
                            li
                              a(href='#!')
                                i.mdi-action-face-unlock
                                |  Friends
                            li
                              a(href='#!')
                                i.mdi-action-lock-outline
                                |  Only Me
                          a.waves-effect.waves-light.btn
                            i.mdi-maps-rate-review.left
                            | Post
                // / profile-page-wall-share
                // profile-page-wall-posts
                #profile-page-wall-posts.row
                  .col.s12
                    // medium
                    #profile-page-wall-post.card
                      .card-profile-title
                        .row
                          .col.s1
                            img.circle.responsive-img.valign.profile-post-uer-image(src='/images/avatar.jpg', alt='')
                          .col.s10
                            p.grey-text.text-darken-4.margin John Doe
                            span.grey-text.text-darken-1.ultra-small Shared publicly  -  26 Jun 2015
                          .col.s1.right-align
                            i.mdi-navigation-expand-more
                        .row
                          .col.s12
                            p
                              | I am a very simple wall post. I am good at containing 
                              a(href='#') #small
                              |  bits of 
                              a(href='#') #information
                              | .  I require little more information to use effectively.
                      .card-image.profile-medium
                        img.responsive-img.profile-post-image.profile-medium(src='/images/2.jpg', alt='sample')
                        span.card-title Card Title
                      .card-content
                        p
                          | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                      .card-action.row
                        .col.s4.card-action-share
                          a(href='#') Like
                          a(href='#') Share
                        .input-field.col.s8.margin
                          input#profile-comments.validate.margin(type='text')
                          label(for='profile-comments') Comments