.messages-row{
    margin-right: 2%;
}

.message-container{
    height: 70%;
    overflow-y:scroll;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.message {
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 4%;
  width: 90%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.me-message:after {
  border-color: #E9724C transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}

.you-message {
  background: #CCDBDC;
  color:#003366;
}
.me-message {
  background: #E9724C;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.you {
  color: #CCDBDC;
}

.me {
  color: #E9724C;
}