extends ../shared/_master

block append styles
    link(rel='stylesheet', href='/css/event/create-page.css')
block append page-content
    div.row
        form#event-form.col.s12(action='/events', method='POST')
            div.row
                div.chips-placeholder.input-field.col.s6
            div.row
                div.input-field.col.s6
                    input#title(type='text' name='title')
                    label(for='title')
                        | Title            
            div.row
                div.input-field.col.s6
                    input#description(type='text' name='description')
                    label(for='description')
                        | Description
            div.row
                button.btn.waves-effect.waves-light(type='submit')
                    | Publish
                    i.material-icons.right
                        | send
