extends ../shared/_master
include ../mixins/pagination.pug

block append styles
    link(rel='stylesheet', href='/css/event/style.css')
block append page-content
    div.row
        //- Add search query as 1st parameter if one exists
        h1
            | #{pagesCount}
        +pagination(null, pageNumber, pagesCount, "events")
    div.row
        a.waves-effect.waves-light.btn.left(href='/events/create')
            | Create event
            i.material-icons.right
                | add
    nav
        div.nav-wrapper
            form
                div.input-field
                    input#search-article.white(type='search' name='query')
                    label.label-icon(for='search-article')
                        i.material-icons
                            | search
                    i.material-icons
                        | close

    each event in events
        ul.collection
            li.collection-item.avatar
                a.title(href='/events/' + event._id)
                    | #{event.title}
                p 
                    | Published by: #{event.creator}
                p 
                    | #{event.description}
    else
        h1
            | No events found.