.page-content{
    padding: 2% 0;
    max-width: 100%;
}

.header-image{
    max-width: 100%;
    height: auto;
}

.event-info-container{
    color:white;
    position: absolute;
    top:10%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .create-event-btn{
        width: 100%;
    }
}