#main,footer {
  padding-left: 0px;
}
header .brand-logo {
  margin: 1px 0px;
  padding: 0 10px;
}
header .brand-logo img{ 
  width: 172px;
}
#horizontal-nav{
    margin-top: 64px;
    z-index: -1;
}
@media only screen and (min-width: 993px) {
  #content{
	margin-top: 65px;
	}
}

.comment-username {
    margin-right: 0 !important;
}

.hidden{
    display: none;
}

.liked{
    background-color: #ff9bbf;
}

.message-btn{
  width: 100%;
}