.photo-container{
    text-align: center;
}

.photo-container img{
    max-width: 60%;
    max-height:80%;
}

.list-group-item{
    margin-bottom: 1%;
}

#postInput{
    max-width: 100%;
    margin-bottom: 1%;
}

.upper-separator{
    margin-top:0;
}

.lower-separator{
    margin-bottom: 0;
}

.content-container{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 2%;
    padding-bottom: 2%;
}

.inline-block{
    display: inline-block;
}

.counter{
    display: inline-block;
    margin-left: 5%;
    font-size: 2em;
}

.posts-container{
    max-width: 100%;
}

.post{
    max-width: 100%;
}

.interactions-container{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2%;
}

.interactions-container div{
    margin-right: 2%;
}

.like-container{
    display: inline-block;
}

.comment-container{
    display: inline-block;
}