footer.page-footer
    .footer-copyright
      .container
        span
          | Copyright © 2017 Leisure Inc.
          |  All rights reserved.
        span.right
          | Design and Developed by 
          a.grey-text.text-lighten-4(href='/') Leisure Inc.