extends ../../node_modules/pug-bootstrap/_bootstrap
block append head
    title
        | Leisure Project Website
block append styles
    link(rel='stylesheet', href='/css/style.css')
block body
    block nav
        include ./_nav.pug
    div.container.page-content
        block page-content