extends ../../node_modules/pug-bootstrap/_bootstrap
block append head
    title
        | Leisure Project Website
block append styles
    link(rel='stylesheet', href='/css/style.css')
    script(src=' https://use.fontawesome.com/2d804f2dcd.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
block body
    block nav
        include ./_nav.pug
    div.container.page-content
        block page-content