if user
  ul#user-options.dropdown-content
    li
      a(href='/user/' + user.username)
        | My profile
    li
      a(href='/user/' + user.username +'/settings')
        | Settings
    li.divider
    li
      a(href='/auth/logout')
        | Logout

  ul#chat-dropdown.dropdown-content
    li
      a(href='/user/chats')
        | Personal chats
    li.divider(role="separator")
    li
      a(href='/user/event-chats')
        | Event chats
nav
  .nav-wrapper
    a.brand-logo.center(href='/') Leisure
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.hide-on-med-and-down
      li
        a(href='/posts')
          | Posts
      li
        a(href='/events')
          | Events
      if user
        li.dropdown
          a.dropdown-button(href='#', data-activates='chat-dropdown')
            | Chats 
            span.caret
    ul.right.hide-on-med-and-down
      if user
        li
          a.dropdown-button(href='#!', data-activates='user-options')
            | Welcome #{user.firstName}
            i.material-icons.right arrow_drop_down
      else
        li
          a(href='/auth/register')
            span.glyphicon-glyphicon-user
            | Register
        li.last-item
          a(href='/auth/login')
            span.glyphicon-glyphicon-log-in
            | Login
    ul#mobile-demo.side-nav
      li
        a(href='sass.html') Sass
      li
        a(href='badges.html') Components
      li
        a(href='collapsible.html') Javascript
      li
        a(href='mobile.html') Mobile