extends ../shared/_master

block append styles
    link(rel='stylesheet', href='/css/chat/style.css')
block append footer
    script(src='/js/chat/personal-chat.js')
block append page-content
    #mail-app.section
        .row
            .col.s12
                .chat-list.col.s12.m4.card-panel.z-depth-1
                    ul.collection
                        each details in chatDetails
                            li(chatId=details.chatId).chat-btn.collection-item.avatar.hoverable.z-depth-3
                                img.circle.z-depth-2.responsive-img.activator(src=details.profilePic)
                                span.chat-title
                                    | #{details.fullName}
                                p.truncate.grey-text.ultra-small
                                    | Send message to #{details.fullName}
                #chat-details.col.s12.m8.card-panel.hidden
                    .row.messages-row
                        .col.s12.m12.message-container.messages
                    .row
                        .col.s7.m9.reply-container
                            input(type='text' placeholder='Type a message...')#replyInput.form-control
                        .col.s3.m1
                            div#replyBtn.btn
                                | Send