.interactions-row{
    z-index:101;
    margin-top: -40px;
    position: relative;
    width:100%;
}

.interactions-container{
     padding: 10% 10% !important; 
    max-width: 100%;
}

.tags{
    color:black;
    background-color: #eceff1;
    opacity: 0.7;
}

#article-delete-btn{
    margin-right: 2%;
}