extends ../shared/_master

block append page-content
    include ../mixins/status.pug
    h1
        | Stuff be working
    h2
        | #{statuses.length} statuses
    each stat in statuses
        //- pageuser, status, currentuser
        +status(stat, locals.user)

block append footer
    script(src="js/status-comment.js")
    script(src="js/status-rating.js")
    script(src='/js/utils.js')

block append styles
  link(href='/css/user-profile/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='/css/user-profile/style-horizontal.css', type='text/css', rel='stylesheet', media='screen,projection')