extends ../shared/_master
include ../mixins/pagination.pug
include ../mixins/status.pug

block append styles
  link(href='/css/user-profile/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='/css/user-profile/style-horizontal.css', type='text/css', rel='stylesheet', media='screen,projection')
block append page-content
    if statuses.length == 0
        h4.center
            | You have nothing to view
            | Explore and find people to follow
    .row
        .col.s12.m6.offset-m3.feed-container
            each stat in statuses
                +status(stat, locals.user)
            if statuses.length > 0
                .row.center
                    +pagination(null, pageNumber, pagesCount, '')

block append footer
    script(src='js/status/status-comment.js')
    script(src='js/status/status-rating.js')
    script(src='/js/utils.js')